.custom-scrollbar-list {
  overflow-y: scroll;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #ff0000 #f0f0f0;
  /* Firefox */

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 6px;
  }
}